<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
  <title>Cod Stats Tracker</title>
</head>
<body>
  <div class="overlay">
  <h1>Call of Duty</h1>
  <h1>Stats Tracker</h1>
  <header> 
    <nav>
      <ul class="list">
        <li><a href="/">Home</a></li>
        <li><a href="/codprofiles">Cod Profiles</a></li>
        <li><a href="/codprofiles/new">New Profile</a></li>
        <li><a href="/weapons"> Weapon Stock</a></li>
      </ul>
    </nav>
    <hr>
  </header>
    
    <span></span>
</div>
  {% block content %}
  {% endblock %}
</div>
<div>
</body>
</html>