{% extends 'base.html' %}
{% block content %}
    <h1>Cod Profiles</h1>
    {% for codprofile in all_codprofiles %}
    <div>
        <hr>
        <p> <a href ='/codprofiles/{{codprofile.id}}'>{{codprofile.gamer_tag}} </a></p>
        <p><b>Platfrom</b> : {{codprofile.platform.type}}</p>
        <p><b>Total Kills</b> : {{codprofile.kills}} </p>
        <p><b>Total Deaths</b> : {{codprofile.deaths}}</p>
        <p><b>Current Rank</b> : {{codprofile.rank}}</p>
        <p><b>Weapon Assigned</b> : {{codprofile.weapon.name}}, {{codprofile.weapon.type}}</p>
        <hr>
    </div>

    {% endfor %}
    
{% endblock%}