{% extends 'base.html' %}
{% block content %}
    <h1>Cod Profiles</h1>
    <div class="container">
    {% for codprofile in all_codprofiles %}
    <div class="profileform">
        <div class="inner-cont">
            <p> <a href ='/codprofiles/{{codprofile.id}}'>{{codprofile.gamer_tag}} </a></p>
            <p><b>Platfrom</b> : {{codprofile.platform.type}}</p>
            <p><b>Total Kills</b> : {{codprofile.kills}} </p>
            <p><b>Total Deaths</b> : {{codprofile.deaths}}</p>
            <p><b>KD Ratio</b> : {{codprofile.calculate_kd_ratio()}}</p>
            <p><b>Current Rank</b> : {{codprofile.rank}}</p>
    
            {% if codprofile.rank >= 500%}
                        <img src = "/static/assets/DpLASMVUcAAak8y.jpg">
                        {% elif codprofile.rank < 500 and codprofile.rank >= 400 %}
                        <img src = "/static/assets/Treyarch_2018-Oct-11.jpg">
                        {% elif codprofile.rank < 400 and codprofile.rank >= 300 %}
                        <img src = "/static/assets/Treyarch_2018-Oct-10-3.jpg">
                        {% elif codprofile.rank < 300 and codprofile.rank >= 200 %}
                        <img src = "/static/assets/Treyarch_2018-Oct-10-1.jpg">
                        {% elif codprofile.rank < 200 and codprofile.rank >= 100 %}
                        <img src = "/static/assets/Treyarch_2018-Oct-10-20.jpeg">
                  {% endif %}
        </div>
    </div>   
    {% endfor %}
    </div>
    

    {% endblock%}
    
   
