{% extends 'base.html' %}
{% block content %}
<div class="indvprofile">
    <hr>
    <div class="invprofileform">
        <div class="div2">
        <h2 class="profileshow">{{solo_profile.gamer_tag}}</h2>
        <p><b>Platform</b> : {{solo_profile.platform.type}}</p>
        <p><b>Total Kills</b> : {{solo_profile.kills}} </p>
        <p><b>Total Deaths</b> : {{solo_profile.deaths}}</p>
        <p><b>Current Rank</b> : {{solo_profile.rank}}</p>
        <p><b>Weapon Assigned</b> : {{solo_profile.weapon.name}}, {{solo_profile.weapon.type}}, {{solo_profile.weapon.ammo}}, {{solo_profile.weapon.range}}</p>
        <hr>
        {% if solo_profile.rank >= 500%}
            <img src = "/static/assets/DpLASMVUcAAak8y.jpg">
            {% elif solo_profile.rank < 500 and solo_profile.rank >= 400 %}
            <img src = "/static/assets/Treyarch_2018-Oct-11.jpg">
            {% elif solo_profile.rank < 400 and solo_profile.rank >= 300 %}
            <img src = "/static/assets/Treyarch_2018-Oct-10-3.jpg">
            {% elif solo_profile.rank < 300 and solo_profile.rank >= 200 %}
            <img src = "/static/assets/Treyarch_2018-Oct-10-1.jpg">
            {% elif solo_profile.rank < 200 and solo_profile.rank >= 100 %}
            <img src = "/static/assets/Treyarch_2018-Oct-10-20.jpeg">
        {% endif %}

        
        <p>
        <p><a href="/codprofiles/{{solo_profile.id}}/edit"> <button class ="button2">Edit </button> </a> </p>
        <form class="delete-form" action="/codprofiles/{{solo_profile.id}}/delete" method="POST">
            <button class="btn">
                <p class="paragraph"> delete </p>
                <span class="icon-wrapper">
                  <svg class="icon" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 7V18C6 19.1046 6.89543 20 8 20H16C17.1046 20 18 19.1046 18 18V7M6 7H5M6 7H8M18 7H19M18 7H16M10 11V16M14 11V16M8 7V5C8 3.89543 8.89543 3 10 3H14C15.1046 3 16 3.89543 16 5V7M8 7H16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </button>
        </form>
        </p>
    </div>
</div>


{% endblock%}