{% extends 'base.html' %}
{% block content %}
<div>
    <hr>
        <h1>{{solo_profile.gamer_tag}}</h1>
        <p><b>Real Name</b> : {{solo_profile.user.first_name}} {{solo_profile.user.last_name}}</p>
        <p><b>Total Kills</b> : {{solo_profile.kills}} </p>
        <p><b>Total Deaths</b> : {{solo_profile.deaths}}</p>
        <p><b>Current Rank</b> : {{solo_profile.rank}}</p>
        <p><b>Weapon Assigned</b> : {{solo_profile.weapon.name}}, {{solo_profile.weapon.type}}</p>
        <hr>
</div>

    
{% endblock%}