{% extends 'base.html' %}
{% block content %}
<div class="indvprofile">
    <hr>
    <div class="profileform">
        <div class="div2">
        <h1>{{solo_profile.gamer_tag}}</h1>
        <p><b>Platform</b> : {{solo_profile.platform.type}}</p>
        <p><b>Total Kills</b> : {{solo_profile.kills}} </p>
        <p><b>Total Deaths</b> : {{solo_profile.deaths}}</p>
        <p><b>Current Rank</b> : {{solo_profile.rank}}</p>
        <p><b>Weapon Assigned</b> : {{solo_profile.weapon.name}}, {{solo_profile.weapon.type}}, {{solo_profile.weapon.ammo}}, {{solo_profile.weapon.range}}</p>
        <hr>
        {% if solo_profile.rank >= 500%}
            <img src = "/static/assets/DpLASMVUcAAak8y.jpg">
            {% elif solo_profile.rank < 500 and solo_profile.rank >= 400 %}
            <img src = "/static/assets/Treyarch_2018-Oct-11.jpg">
            {% elif solo_profile.rank < 400 and solo_profile.rank >= 300 %}
            <img src = "/static/assets/Treyarch_2018-Oct-10-3.jpg">
            {% elif solo_profile.rank < 300 and solo_profile.rank >= 200 %}
            <img src = "/static/assets/Treyarch_2018-Oct-10-1.jpg">
            {% elif solo_profile.rank < 200 and solo_profile.rank >= 100 %}
            <img src = "/static/assets/Treyarch_2018-Oct-10-20.jpeg">
        {% endif %}

        
        <p>
        <p><a href="/codprofiles/{{solo_profile.id}}/edit"> Edit </a> </p>
        <form class="delete-form" action="/codprofiles/{{solo_profile.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
        </form>
        </p>
    </div>
</div>

    
{% endblock%}