
body{
    background-image: url("/static/assets/wallpaperflare.com_wallpaper (1).jpg");
    position: relative;
    background-size: cover;
    margin: 0px;
}
select{
  cursor: pointer;
}
ul{
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}
li{
    color:#FFFFFF;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}
a{
    cursor: pointer;
}

h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: #FFFFFF;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}

h2{
  color: whitesmoke;
}
.profileshow
{
  color: black;
}
img{
    max-width:215px;
    height:auto;
}
.weaponimage{
    max-width:215px;
    height:auto;

}
p{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: black;
}
b{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.newform{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

.weaponshow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-right: 570px;
    font-size: 80%;
}

.weaponindex{
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px,30px;
    margin: 70px;
    
}

.indvprofile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.5rem;
}

.class{
    width: 50px;
}

.profileform {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px 30px;

}

.inner-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-size: 20px;
}

.weaponprofile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding:30px, 50px;

}
.weapontext{
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.invprofileform {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 20px;
}

.newprofileform {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px;
    font-size: 20px;
    margin: 70px;
}

.invweaponprofile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 50px,30px;
    margin: 50px;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.invweaponshow{
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px,10px;
    font-size: 40px;
    margin: 50px;
}

  footer{
    color: whitesmoke;
    align-items: end;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  img[src = "/static/assets/call-of-duty-warzone-2-iso-hemlock-loadout.jpg"] {
    max-width: 80%;
    height:auto;
  }
  img[src = "/static/assets/Sakin-MG38-Warzone-2.jpeg"] {
    max-width: 100%;
    height:auto;
  }

  img[src = "/static/assets/best-modern-warfare-2-m4-loadout-attachments-perks.jpg"] {
    max-width: 100%;
    height:auto;
  }

  img[src = "/static/assets/Best-PDSW-528-loadout-in-Warzone-2 copy 2.jpg"] {
    max-width: 100%;
    height:auto;
  }
  img[src = "/static/assets/best-mp5-lachmann-sub-loadout.jpg"] {
    max-width: 100%;
    height:auto;
  }
  img[src = "/static/assets/best-modern-warfare-2-sp-x-80-loadout-attachments-perks.jpg"] {
    max-width: 800px;
    height:auto;
  }
  img[src = "/static/assets/signal-50-best-loadout-modern-warfare-2-e1667558715325.jpg"] {
    max-width: 100%;
    height:auto;
  }

  img[src = "/static/assets/vecteezy_bullet-vector-icon-isolated-on-white-background_6600004.jpg"] {
    max-width: 6%;
    height:auto;
  }

  .card {
      height: 20px;
      background: rgb(4,5,7);
      box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
   }
   
   .footer{
    color:whitesmoke;
    display: flex;
    justify-content: space-around;
   }
  /* ----------------not my css and some fun things from google ---------------------------*/
  .input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.7vw;
    max-width: 190px;
    transition: .4s;
    width: fit-content;
  }
  
  .input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }
  
  .input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
  }
  .btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px .2px #00000035;
    box-shadow: 1px 1px 5px .2px #00000035;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    transition-delay: .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
  }
  
  .btn:hover {
    width: 150px;
    transition-delay: .2s;
  }
  
  .btn:hover > .paragraph {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
  }
  
  .btn:hover > .icon-wrapper .icon {
    transform: scale(1.1);
  }
  
  .bnt:hover > .icon-wrapper .icon path {
    stroke: black;
  }
  
  .paragraph {
    color: black;
    visibility: hidden;
    opacity: 0;
    font-size: 18px;
    margin-right: 20px;
    padding-left: 20px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .icon-wrapper {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    transform: scale(.9);
    transition: .2s linear;
  }
  
  .icon path {
    stroke: #000;
    stroke-width: 2px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }

  .button2 {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #040404;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
    font-size: 20px;
  }
  
  .button2:hover {
    background-color: #151616;
    box-shadow: 0 0 20px #6fc5ff50;
  }
  
  .button2:active {
    background-color: #000000;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
  }
  .button3 {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #040404;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
    font-size: 12px;
    margin:25px;
}
.button3:active {
  background-color: #000000;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
}

.button3:hover {
  background-color: #151616;
  box-shadow: 0 0 20px #6fc5ff50;
}




  