
.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.newform{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.weaponshow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.weaponindex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.indvprofile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.profileform{
        display: grid;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
}
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.5rem; */
