
body{
    background-image: url("/static/assets/wallpaperflare.com_wallpaper (1).jpg");
    position: relative;
    background-size: cover;
}
ul{
    color: white;
}
li{
    color:#FFFFFF;
}
a{
    color: rgb(237,97,103);
    font-size: small;
    font-size:130%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
    border-radius: 2.5px;
    opacity: 0.7;
}

h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: #FFFFFF;
}

div>img{
    max-width:215px;
    height:auto;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.newform{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.weaponshow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-right: 570px;
    font-size: 80%;
}

.weaponindex{
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px;
    margin: 70px;
    
}

.indvprofile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.5rem;
}

.class{
    width: 50px;
}

.profileform {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px;

}

.inner-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.weaponprofile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.invprofileform {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px;
}

.newprofileform {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px;
    font-size: 20px;
    margin: 70px;
}

.invweaponprofile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.invweaponshow{
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px;
    font-size: 20px;
    margin: 70px;
}

  .input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: .8vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;
  }
  
  .input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }
  
  .input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
  }

  footer{
    color: whitesmoke;
    align-items: end;
    position: fixed;
    bottom: 0;
    width: 100%;
  }